:root {
  --main-color: #e0e0e0;
  --canvas-color: #fcfcfc;
  --button-color: #1976d2;
  --button-text-color: rgba(255, 255, 255, .95);
  --button-text-focus-color: #280f00;
}

#mega {
  width: 95%;
  margin-left: 30px;
}

h1 {
  border-left: thick double var(--main-color);
  border-left-width: 20px;
}

body {
  font: 24px sans-serif;
  border-left: thick double var(--main-color);
  border-left-width: 10px;
  color: #00cccc;
  /*background-color: #282c34*/
  background-color: var(--main-color);
}

.mocha-canvas {
	background-color: var(--canvas-color);
}

.tuning-div {
  border: 2px solid blue;
  border-radius: 25px;
}

.tune-label {
  width: auto;
  text-align: center;
  display: block;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #55ffff;
  height: 30px;
  width: 60px;
  border-radius: 3px;
  background: #fff0cd;
  cursor: pointer;
}

.left-div {
  margin-right: 0px;
  padding-right: 0px;
}


.right-div {
  padding-top: 10px;
  margin-left: -20px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid black;
}

.btn-mocha {
  color: var(--button-text-color);
  background-color: var(--button-color);
  opacity: 1;
  font-size: 24px;
  width: 200px;
  height: 50px;
}

.btn-mocha:focus {
  color: var(--button-text-color);
}
.btn-mocha:hover {
  filter: brightness(120%);
  color: var(--button-text-focus-color);
}
.btn-mocha:active,
.btn-mocha.active {
  color: var(--button-text-color);
  opacity: .8;
}

.btn-centerThree {
  margin-left: 1px;
  margin-right: -2px;
  margin-bottom: 6px;
  height: 120px;
  width: 283px;
}

.btn-mocha-right {
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-mocha-bottom {
  margin-bottom: 30px;
  height: 90px;
  width: 520px;
}

.threeButtons {
  margin-left: -1px;
}

.bpm-timer-label {
  width: 130px;
  font-size: 40px;
}

.bpm-timer-input {
  width: 200px;
  height: 90px;
  font-size: 60px;
  text-align: right;
}

.import-mocha {
  width:1px;
  height:1px;
  opacity: 0;
}

.hiddenP {
  opacity: 0;
}

.circleBase {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cursor {
  background: red;
}

.cursorClick {
  background: green;
}

/* adapted from:
http://stackoverflow.com/questions/32976961/how-do-you-add-a-bootstrap-icon-to-an-canvas-using-javascript-if-there-is-a-wa */
@font-face {
  font-family: 'glyphicon';
  src: url('./fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
